
:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}
.karla-400{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.karla-700{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    inline-size: 19.5rem;
    block-size: 45.18rem;
    border: 1px solid black;
}

.intro-con {
    display: flex;
    flex-direction: column;
    inline-size: 19.5rem;
    block-size: 16.7rem;

    padding-block: 1.4rem;
    padding-inline: 1.4rem;
    /* flex: 1; */
}

.intro-h, .intro-para, .intro-detail-para {
    flex: 1;
}

.intro-h {
    font-size: 1.24rem;
    color: var(--cyan);
    /* color: red; */
}

.intro-detail-para {
    font-size: .85rem;
    line-height: 1.85;
    padding-block-start: 0rem;
    padding-block-end: 0.8rem;
    color: var(--grayish-blue);
}

.intro-para {
    font-size: 0.92rem;
    color: var(--bright-yellow);
    /* padding-block-start: 0.1rem; */
    padding-block-end: 0.5rem;
   line-height: 1.35;
    /* padding-block-start: 1rem; */
}
.sign-up-btn {
    text-align: center;
    padding-block: 0.8rem;
    background-color: var(--bright-yellow);
    margin-block-end: 0.5rem;
    border-radius: 8px;
    color: var(--light-gray);
}
.sign-up-con {
    display: flex;
    flex-direction: column;
    padding-inline: 1.4rem;
    padding-block: 1.15rem;
    /* margin-block-end: 0.95rem; */
    inline-size: 19.5rem;
    block-size: 14.3rem;
    background-color: var(--cyan);
    /* flex: 1; */
}
.sing-up-h, .sing-up-para, .sign-up-details, .sing-up-btn {
    flex: 1;
}
.sign-up-h {
    font-size: 1.1rem;
    color: var(--light-gray);
}

.sign-up-details {
    color: var(--light-gray);
}
.sign-up-para {
    display: flex;
    align-items: center;
    padding-block-start: 0.7rem;
    color:  hsl(from var(--light-gray) h s l / 0.7);
}
.sign-up-para>span {
    font-size: 2.05rem;
    padding-inline-end: 0.7rem;
    color: var(--light-gray);
}
.why-list {
    all: unset;
    list-style: none;
    
}
.why-us-con {
    display: flex;
    flex-direction: column;
    inline-size: 19.5rem;
    block-size: 14.1rem;
    background-color: hsl(from var(--cyan) h s l / 0.9);
    padding-inline: 1.4rem;
    padding-block: 1.15rem;
}
.why-h {
    font-size: 1.15rem;
    color: var(--light-gray);
}
.why-list {
    font-size: 0.85rem;
    padding-block: 0.8rem 0.7rem;
    color: hsl(from var(--light-gray) h s l / 0.7);;
}
.why-h, .why-list {
    flex: 1;
}



